# Type Expression And Variables

In [1]:
a=10

In [2]:
print(type(a))

<class 'int'>

In [3]:
b=10.2
print(type(b))

<class 'float'>

In [4]:
c="ABC"
print(type(c))

<class 'str'>

In [5]:
a=True
print(type(a))

<class 'bool'>

String Operations

In [7]:
#printing a string
str="hello"
print(str)

hello

In [8]:
#string slicing
str="hello"
print(str)
print(str[0])
print(str[0:3])
print(str[0:])

hello
h
hel
hello

In [10]:
#string concadination
a="hello"
b="world"
print(a+b)
print(a*3)

helloworld
hellohellohello

In [13]:
#membership function
a="hello"
"a" in a

False

In [14]:
"o"in a
"a" not in a

True

In [15]:
#capipilize()
a="hello"
a.capitalize()

'Hello'

In [16]:
#casefold
a="HELLO"
a.casefold()

'hello'

In [17]:
#count()
a="Data Science"
a.count("e")

2

In [18]:
#index
a="Data Science"
a.index("t")

2

In [20]:
#isalpha
a="Data Science"
a.isalpha()

False

In [21]:
#join
a="abc"
b="cde"
a.join(b)

'cabcdabce'

In [22]:
#partition
a="Data Science"
a.partition("a")

('D', 'a', 'ta Science')

In [28]:
#find
a="Data Science"
a.find("s")

-1

In [33]:
#replace
a="data Science"
a.replace("d","b")

'bata Science'

# List Operations

In [34]:
#print the list
l=[1,2,3,4]
print(l)

[1, 2, 3, 4]

In [35]:
l1=["ABC","dEF"]
print(l1)

['ABC', 'dEF']

In [36]:
#append
l=[1,2,3]
l.append((9,7))
print(l)

[1, 2, 3, (9, 7)]

In [37]:
#insert
l=[1,2,3,4]
l.insert(1,8)
print(l)

[1, 8, 2, 3, 4]

In [38]:
#accessing the element
l=[1,2,3,4,8]
print(l[0])
print(l[-1])

1
8

In [40]:
#extend
l=[1,2,3,4]
l.extend([9,8])
print(l)

[1, 2, 3, 4, 9, 8]

In [41]:
#delelte
l=[1,2,3,4]
del(l[0])

In [42]:
l

[2, 3, 4]

In [43]:
#pop
l=[1,2,3,4]
l.pop()
print(l)

[1, 2, 3]

In [45]:
#reverse
l=[1,2,3,4]
l.reverse()
print(l)

[4, 3, 2, 1]

In [46]:
#add
l1=[1,2,3]
l2=["a","b"]
print(l1+l2)

[1, 2, 3, 'a', 'b']

In [47]:
#sort
l=[1,8,3,4]
l.sort(reverse=True)
print(l)

[8, 4, 3, 1]

In [48]:
#len
l=[1,2,3,4]
print(len(l))

4

In [49]:
#max and min
l=[1,2,3,4]
print(max(l))
print(min(l))

4
1

# SET OPERATIONS

In [1]:
#create set
s1={1,2,3}
print(s1)

{1, 2, 3}

In [2]:
#union
s1={1,2,3}
s2={4,5,6}
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [3]:
#intersection
s1={1,2,3}
s2={2,4,5}
s1.intersection(s2)

{2}

In [4]:
#set difference
s1={1,2,3}
s2={2,3,4}
s1.difference(s2)

{1}

In [5]:
#update and delete
s1={0,1,2,3}
s1.add(4)

In [6]:
s1

{0, 1, 2, 3, 4}

In [1]:
#clear 
s1={0,1,2}
s1.clear()

In [2]:
s1

set()

In [5]:
#pop
s1={0,1,2}
s1.pop()

0

In [6]:
s1

{1, 2}

In [7]:
#discard
s1={0,1,2}
print(s1.discard(0))

None

In [8]:
s1

{1, 2}

In [9]:
#copy
s1={0,1,2}
print(s1.copy())

{0, 1, 2}

In [10]:
#set difference update 
s1={1,2,3}
s1.difference_update({3})

In [11]:
s1

{1, 2}

In [12]:
#intersection_update
s1={1,2,3}
s1.difference_update
s1.intersection_update({3},{1})

In [13]:
s1

set()

In [18]:
#isupper set
s1={1,2,3}
s2={1,4,8,9}
s1.issuperset(s2)

False

In [19]:
print(s1.issubset(s2))

False

# Dictionaries  operation

In [20]:
#creating dictionary
d={"name":"Raja","rno":123}
print(d)

{'name': 'Raja', 'rno': 123}

In [27]:
#printing values and keys
d={"RNO":1,"name":"abc"}
print(d.values())
print(d.keys())

dict_values([1, 'abc'])
dict_keys(['RNO', 'name'])

In [28]:
print(d.items())

dict_items([('RNO', 1), ('name', 'abc')])

In [30]:
#deleting items
d={"name":"abc","RNO":111}
d.pop('name')

'abc'

In [36]:
d={"name":"abc","RNO":111}
d.popitem()

('RNO', 111)

In [37]:
del(d["name"])

In [38]:
d

{}

In [39]:
#inserting
d={"name":"abc","RNO":111}
d["class"]="CSE"
print(d)

{'name': 'abc', 'RNO': 111, 'class': 'CSE'}