# GROPING _ CO-RELATION PROGRAMS

In [1]:
import pandas as pd
df=pd.read_csv("sample.csv")
df

  NAME  AGE  SALARY GENDER DEPARTMENT
0  abc   21    1500      M        cse
1  def   18    1900      M        cse
2  fgh   20    1000      M        ece
3  ijk   25    2100      F        ece
4  xyz   19    2500      F        eee
5  wxy   24    1700      F       mech

In [3]:
print(df.groupby(["GENDER"]))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000022234EA0608>

In [4]:
a=df.groupby(["GENDER","DEPARTMENT"])

In [5]:
print(a.groups)

{('F', 'ece'): Int64Index([3], dtype='int64'), ('F', 'eee'): Int64Index([4], dtype='int64'), ('F', 'mech'): Int64Index([5], dtype='int64'), ('M', 'cse'): Int64Index([0, 1], dtype='int64'), ('M', 'ece'): Int64Index([2], dtype='int64')}

In [6]:
print(df.groupby(["GENDER"]).mean())

              AGE       SALARY
GENDER
F       22.666667  2100.000000
M       19.666667  1466.666667

In [7]:
print(df.groupby(["GENDER"]).max())

       NAME  AGE  SALARY DEPARTMENT
GENDER
F       xyz   25    2500       mech
M       fgh   21    1900        ece

In [8]:
print(df.groupby(["GENDER"]).sum())

        AGE  SALARY
GENDER
F        68    6300
M        59    4400

In [9]:
print(df.groupby(["GENDER"]).min())

       NAME  AGE  SALARY DEPARTMENT
GENDER
F       ijk   19    1700        ece
M       abc   18    1000        cse

In [10]:
print(df.groupby(["DEPARTMENT"]).min())

           NAME  AGE  SALARY GENDER
DEPARTMENT
cse         abc   18    1500      M
ece         fgh   20    1000      F
eee         xyz   19    2500      F
mech        wxy   24    1700      F

In [11]:
print(df.groupby(["DEPARTMENT"]).max())

           NAME  AGE  SALARY GENDER
DEPARTMENT
cse         def   21    1900      M
ece         ijk   25    2100      M
eee         xyz   19    2500      F
mech        wxy   24    1700      F

In [12]:
print(df.groupby(["DEPARTMENT"]).mean())

             AGE  SALARY
DEPARTMENT
cse         19.5  1700.0
ece         22.5  1550.0
eee         19.0  2500.0
mech        24.0  1700.0

In [13]:
print(df.groupby(["DEPARTMENT"]).sum())

            AGE  SALARY
DEPARTMENT
cse          39    3400
ece          45    3100
eee          19    2500
mech         24    1700

In [14]:
print(df.groupby(["DEPARTMENT"]).groups)

{'cse': Int64Index([0, 1], dtype='int64'), 'ece': Int64Index([2, 3], dtype='int64'), 'eee': Int64Index([4], dtype='int64'), 'mech': Int64Index([5], dtype='int64')}

In [15]:
print(df.groupby(["GENDER"]).groups)

{'F': Int64Index([3, 4, 5], dtype='int64'), 'M': Int64Index([0, 1, 2], dtype='int64')}

In [16]:
g=df.groupby(["DEPARTMENT"])
print(g.get_group("cse"))

  NAME  AGE  SALARY GENDER DEPARTMENT
0  abc   21    1500      M        cse
1  def   18    1900      M        cse

In [18]:
df["GENDER"].value_counts()

M    3
F    3
Name: GENDER, dtype: int64